@model ProjectMedic.Models.Patient

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <table class="table">
        <tr style="border-bottom:hidden; border-top:hidden">
            <td colspan="2">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Patient_Username, new { Value = Session["P_Username"] })
                @Html.HiddenFor(model => model.Patient_Email, new { Value = Session["P_Email"]})
                @Html.HiddenFor(model => model.Patient_Firstname, new { Value = Session["P_Fname"]})
                @Html.HiddenFor(model => model.Patient_Lastname, new { Value = Session["P_Lname"]})
            </td>
        </tr>
        <tr style="border-bottom:hidden">
            <td style="width:250px">
                <span class="fas fa-user">&nbsp;&nbsp;</span>Current Password:
            </td>
            <td>
                @Html.TextBox("old_pass", "", new { @class = "form-control form-control-md", @type = "password", @style = "width:300px" })
                @Html.ValidationMessage("Blank", new { @class = "text-danger" })
                @Html.ValidationMessage("IncorrectPass", new { @class = "text-danger" })
            </td>
        </tr>
        <tr style="border-bottom:hidden">
            <td>
                <span class="fas fa-venus-mars">&nbsp;&nbsp;</span>New Password:
            </td>
            <td>
                @Html.EditorFor(model => model.Patient_Password, new { htmlAttributes = new { @class = "form-control form-control-md", @style = "width:300px" } })
                @Html.ValidationMessageFor(model => model.Patient_Password, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr style="border-bottom:hidden">
            <td>
                <span class="fas fa-id-card">&nbsp;&nbsp;</span>Confirm New Password:
            </td>
            <td>
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control form-control-md", @style = "width:300px" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </td>
        </tr>
    </table>

    <p><button type="submit" class="btn btn-primary">Change Password</button></p>
}

